<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h1>投稿編集</h1>

    <%= render 'form', post: @post, submit: "edit" %>
    
    <%= link_to 'Show', post_path(@post.id) %>
    <%= link_to 'Back', posts_path %>
  </div>
</div>
