<div class="row">
  <div class="col-md-4">
    <%= render 'consumers/user_info', consumer: @consumer %>
  </div>
  <div class="col-md-6 offset-md-2">
    <%= render 'relationships/follow_list', producers: @producers %> 
  </div>
</div>