<div>
  <h3><%= @consumer.name %></h3>
  <%= image_tag @consumer.get_profile_image(100,100) %>
  <p><%= link_to "プロフィール編集", edit_consumer_path(@consumer.id) %></p>
  <%= link_to "ショッピングカート", cart_items_path, class: "btn btn-info" %>
</div>