<div class="mt-5">
<% if producers.exists? %>
  <h5><%= producers.count %>フォロー</h5>
  <% producers.each do |producer| %>
    <div class="row">
      <div class="col-md-5 col-sm-8">
        <%= image_tag producer.get_profile_image(30,30) %>
        <%= link_to producer.name, producer_path(producer.id) %>
      </div>
    </div>
  <% end %>
<% else %>
  <h5>フォローしている<br>ユーザーはいません</h5>
<% end %>
</div>