<h3>消費者一覧</h3>
<table>
  <thead>
    <tr>
      <th>消費者ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @consumers.each do |consumer| %>
    <tr>
      <td><%= consumer.id %></td>
      <td><%= link_to consumer.name, admins_consumer_path(consumer.id) %></td>
      <td><%= consumer.email %></td>
      <td><% if consumer.is_active == true %>
            有効
          <% else %>
            退会済み
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @consumers %>
