<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-sm-8 offset-sm-2">
    <h1 class="d-flex justify-content-center">投稿編集</h1>

    <%= render 'post_form', post: @post, producer: @producer, submit: "更新" %>
    <%= link_to "削除", admins_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger btn-block mb-3" %>
    
    <%= link_to '詳細画面へ戻る', admins_post_path(@post.id), class: "btn btn-outline-primary mb-3" %>
    <%= link_to '一覧へ戻る', admins_posts_path, class: "btn btn-outline-secondary mb-3" %>
  </div>
</div>
