<div class="row align-items-center">
  <div class="col-md-6">
    <div class="d-flex flex-column">
      <h5>これからもっとお客様を増やしたいと考えている米農家さん</h5>
      <h5>普段スーパーで買っているけれど、</br>いつもと違うお米を食べてみたい消費者の方</h5>
      <h5>提供するお米を変えてみたい飲食店の方</h5>
      <h5>毎日食べるお米の需要と供給がマッチしますように</h5>
    </div>
  </div>
  <div class="col-md-6 mt-4">
    <%= image_tag 'about_picture.jpg', size: "570x400" %>
  </div>
</div> 


