
  <div class="logo">
    <p style="width: 600px">\ お米の販売サイト /</p>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= image_tag 'logo.jpg', size: "100x100", class: 'hoge ml-3' %>
    </div>
    <div class="col-md-9">
    <div class="d-flex flex-column">
      <h5>これからもっとお客様を増やしたいと考えている米農家さん</h5>
      <h5>普段スーパーで買っているが、いつもと違うお米を食べてみたい消費者の方</h5>
      <h5>提供するお米を変えてみたい飲食店の方</h5>
      <h5>毎日食べるお米の需要と供給がマッチしますように</h5>
    </div>
    </div>
  </div> 

<div class="about">

</div>

