<h1>Topページ</h1>

<p>生産者ログイン</p>
<%= link_to "Sign_up", new_producer_registration_path %>
<%= link_to "Log in", new_producer_session_path %>

<p>消費者ログイン</p>
<%= link_to "Sign_up", new_consumer_registration_path %>
<%= link_to "Log in", new_consumer_session_path %>
