 <div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
  
  <h1>商品情報編集</h1>

  <%= render 'item_form', item: @item, submit: "edit" %>

  <%= link_to 'Show', item_path(@item.id) %>
  <%= link_to 'Back', items_path %>
  </div>
 </div>
