<div class="container">
<h1>商品一覧</h1>
<table class="table table-bordered">
  <thead>
    <tr style="background-color: #f5f5f5">
      <th>商品画像</th>
      <th>商品名</th>
      <th>商品価格(税抜)</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= image_tag item.get_image(100,100) %></td>
      <td><%= link_to item.name, item_path(item.id) %></td>
      <td><%= item.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>