<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-sm-8 offset-sm-2">
    <h1 class="d-flex justify-content-center">投稿フォーム</h1>

    <%= render 'form', post: @post, submit: "New Post" %>
  </div>
</div>


