<h1>全生産者一覧</h1>
<ul>
  <% @producers.each do |producer| %>
    <li>
      <%= producer.name %> - <%= producer.email %>
    </li>
  <% end %>
</ul>

<h1>全消費者一覧</h1>
<ul>
  <% @consumers.each do |consumer| %>
    <li>
      <%= consumer.name %> - <%= consumer.email %>
    </li>
  <% end %>
</ul>